<%# DeleteThis - add "max_height_full: false" if there are multiple stacked cards
    the default ("max_height_full: true") makes the cards scroll within the body of the card
    which you don't want if there are multiple stacked cards
%>
<%= card do %>
  <%= card_header class: 'flex flex-wrap sm:flex-nowrap' do %>
    <%# DeleteThis - give any drop downs or buttons this class: "my-0.5 mr-2" %>
    <%# DeleteThis - give the final drop down or button per group below this class: "mr-0" %>
    <%# DeleteThis - wrap any buttons (ie modal triggers) in a div so that the parent flex class doesn't make them tall if wrapping is involved %>

    <%# DeleteThis - insert header and subtitle if needed %>
    <div class="w-full sm:w-auto flex flex-col items-center sm:items-start shrink-0 mr-2">
      <div class="text-card-header">
      </div>
      <div class="text-card-header-sub-title">
      </div>
    </div>
    <%# DeleteThis - add filter dropdowns if needed %>
    <div class="w-full sm:w-auto flex flex-wrap justify-center sm:justify-normal items-center shrink-0 mr-2">
    </div>
    <%# DeleteThis - add action items if needed %>
    <div class="w-full sm:w-auto flex flex-wrap justify-center sm:justify-normal items-center shrink-0 ml-0 sm:ml-auto">
    </div>
  <% end %>
  <%= card_body do %>
  <% end %>
<% end %>
