<% modal id: "ChangeModel-#{ChangeModel.id}-ChangeSubControllerNameOrRemoveThis-ChangeActionOrDescription-modal" do %>
  <div id="ChangeModel-<%= ChangeModel.id %>-ChangeSubControllerNameOrRemoveThis-ChangeActionOrDescription-modal-flash" class="flash-messages"></div>
  <% card_header do %>
    ChangeHeader
  <% end %> 
  <% card_body do %> 
    <%= form_with model: ChangeModel, url: ChangePath(account, ChangeModel), method: :ChangeHtmlMethod do |f| %>
      <%# DeleteThis - insert hidden fields here if necessary %>
      <%# DeleteThis - insert form groups and files (or fields for if necessary) %>
      <div class="form-submit-buttons">
        <%= content_tag('A', 'Cancel', class: 'btn btn-secondary mr-2', data: { action: 'click->modal#hide' }) %>
        <%= f.submit 'ChangeSubmitToAddForNewOrSaveForUpdate', class: 'btn' %>
      </div>
    <% end %> 
  <% end %> 
<% end %>
