<%= form_with model: ChangeModel, url: ChangePath(account, ChangeModel), method: :ChangeHtmlMethod do |f| %>
  <%# DeleteThis - insert hidden fields here if necessary %>

  <%# DeleteThis - insert form groups (or fields for if necessary) %>

  <%# DeleteThis - NOTE: turboframe submit buttons added by default. Replace with  %>
  <div class="form-submit-buttons">
    <%= link_to 'Cancel', ChangePath(account, ChangeModel), class: 'btn btn-secondary mr-2' %>
    <%= f.submit 'ChangeSubmitToAddForNewOrSaveForUpdate', class: 'btn' %>
  </div>
<% end %>
