<div class="form-group left-label">
  <div class="left-label-container w-20">
    <%= f.label :ChangeLabel, 'ChangeLabelDisplay:' %>
  </div>
  <div class="left-label-input-container">
    <div class="left-label-input3">
      <%# DeleteThis - insert input %>
      <%= f.inline_errors :ChangeAttribute %>
    </div>
    <div class="left-label-input3">
      <%# DeleteThis - insert input %>
      <%= f.inline_errors :ChangeAttribute %>
    </div>
    <div class="left-label-input3">
      <%# DeleteThis - insert input %>
      <%= f.inline_errors :ChangeAttribute %>
    </div>
  </div>
</div>
