<%# DeleteThis - default for group of radio buttons is inline. To make stacked, remmove class inline to div below (or add inline-no-wrap for no wrapping) %>
<div class="checkable-group-container inline">
  <%# DeleteThis - duplicate checkable-container as needed %>
  <div class="checkable-container">
    <%= f.radio_button :ChangeAttribute, ChangeValue,
      class: 'form-control',
      autofocus: ChangeOrRemove,
      checked: ChangeOrRemove,
      disabled: ChangeOrRemove,
      required: ChangeOrRemove
    %>
    <%= f.label :ChangeAttribute_ChangeValue, 'ChangeDisplay' %>
  </div>
  <div class="checkable-container">
    <%= f.radio_button :ChangeAttribute, ChangeValue,
      class: 'form-control',
      autofocus: ChangeOrRemove,
      checked: ChangeOrRemove,
      disabled: ChangeOrRemove,
      required: ChangeOrRemove
    %>
    <%= f.label :ChangeAttribute_ChangeValue, 'ChangeDisplay' %>
  </div>
</div>
