<div class="form-group left-label">
  <%# DeleteThis - change left label width as needed but make sure all inputs on form match %>
  <div class="left-label-container w-20">
    <span>ChangeLabelDisplay:</span>
  </div>
  <div class="left-label-show">
    <span class="show-group-value">ChangeDisplay</span>
  </div>
</div>
